body{
	background-image:url("https://img.freepik.com/free-photo/pastel-blue-vignette-concrete-textured-background_53876-102637.jpg?w=2000");
}

nav{
	background-color:#AACB73;
}

.nav-link, .dropdown-item{
	font-family:Josefin Sans, serif;
	font-size:25px;
	margin-right:20px;	
}

.navbar-brand{
	font-family:Kavoon, serif;
	margin-right:50px;
}

.card{
	width:500px;
	background-color:#F7F5EB;
	/*background-image:url("assets/images/card.jpg");*/
}

img{
	width:500px;
}

#contactOption{
	background-color:#f8f9fa;
}

#paymentSuccessModal.show {
  display: block;
}

.modal-body{
	text-align:center;
}

#footer{
	height:30px;
	background-color:#AACB73;
	text-align:center;
}







